# Ejercicios Pair Programming - Modulo 2 - Sprint 2 
## Lecci칩n 1 - EDA I: Introduccion
### Ana Gonzalez y Sonia Ruiz

Para todas los ejercicios de pair programming de EDA I y II usaremos el dataframe generado en el ejercicio de Pandas VII.

En el ejercicio de hoy nos familiarizaremos con el dataset completo sobre el que trabajaremos en la parte de limpieza.
Pero para hacer una exploraci칩n buena del dataset necesitamos hacernos una serie de preguntas o hip칩tesis que queramos contestar. En este caso os plantemos las siguientes preguntas a contestar a lo largo de los ejercicios de pair programming de este m칩dulo:

### Hip칩tesis
Las hip칩tesis que os planteamos son:
- 쮼s Australia el sitio m치s peligroso y letal para estar relajada en la playa?
- 쮿ay diferencias entre los pa칤ses en los ataques a hombres y mujeres?
- 쮺u치les son las edades que m치s sufren ataques?
- Independientemente de la edad, 쯥ufren los hombres m치s ataques que las mujeres?
- 쮼n qu칠 mes ocurren m치s ataques?
- 쮺u치l es la relaci칩n entre la especie y el tipo de ataque (si es fatal o no)?
- 쮺칩mo han evolucionado los ataques a lo largo del tiempo?

### Objetivos
Los objetivos de hoy son:
1. Haced una exploraci칩n inicial del dataframe:
    - 쮺u치l es el n칰mero de filas y columnas?

In [16]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('files/attacks_lec7.csv',index_col=0)
df.head(3)

,Unnamed: 0.1,case_number,unnamed:_0,year,type,country,area,location,activity,name,age,time,species_,href,siglo,injury,date,month,gender,dead
0,0,2018.06.25,0.0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun,F,N
1,1,2018.06.03.a,6.0,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,FATAL,03-Jun-2018,Jun,M,Y
2,2,2018.05.26.b,8.0,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Lower left leg bitten,26-May-2018,May,M,N

In [4]:
#Quitamos las columnas 'Unnamed: 0'
df.drop(columns=['Unnamed: 0.1','unnamed:_0'],inplace=True)
df.head(3)

,case_number,year,type,country,area,location,activity,name,age,time,species_,href,siglo,injury,date,month,gender,dead
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun,F,N
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,FATAL,03-Jun-2018,Jun,M,Y
2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Lower left leg bitten,26-May-2018,May,M,N

In [5]:
df.shape
print(f'Nuestro DataFrame tiene {df.shape[0]} filas y {df.shape[1]} columnas')

Nuestro DataFrame tiene 1672 filas y 18 columnas

- 쮺u치l es el porcentaje de valores nulos en cada columna? Presenta los resultados en un dataframe, donde las columnas sean el nombre de las variables y el porcentaje de nulos.

In [6]:
df_nulos=pd.DataFrame(df.isnull().sum()*100/df.shape[0])
df_nulos.rename(columns={0:'porcentaje_nulos'},inplace=True)
df_nulos.T

,case_number,year,type,country,area,location,activity,name,age,time,species_,href,siglo,injury,date,month,gender,dead
porcentaje_nulos,0.0,0.0,0.0,0.598086,2.751196,3.050239,1.854067,0.538278,9.210526,9.569378,7.535885,0.0,10.167464,0.478469,0.0,2.990431,0.897129,5.921053

- 쯈u칠 tipos de datos hay en cada columna?

In [7]:
df_tipos=pd.DataFrame(df.dtypes)
df_tipos

                   0
case_number   object
year         float64
type          object
country       object
area          object
location      object
activity      object
name          object
age           object
time          object
species_      object
href          object
siglo         object
injury        object
date          object
month         object
gender        object
dead          object

- Extraed la informaci칩n general del dataframe.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1672 entries, 0 to 1671
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  1672 non-null   object
 1   year         1672 non-null   float64
 2   type         1672 non-null   object
 3   country      1662 non-null   object
 4   area         1626 non-null   object
 5   location     1621 non-null   object
 6   activity     1641 non-null   object
 7   name         1663 non-null   object
 8   age          1518 non-null   object
 9   time         1512 non-null   object
 10  species_     1546 non-null   object
 11  href         1672 non-null   object
 12  siglo        1502 non-null   object
 13  injury       1664 non-null   object
 14  date         1672 non-null   object
 15  month        1622 non-null   object
 16  gender       1657 non-null   object
 17  dead         1573 non-null   object
dtypes: float64(1), object(17)
memory usage: 248.2+ KB

In [9]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
case_number,1672,1672,2018.06.25,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
year,1672.0,NaN,NaN,NaN,1832.688397,528.969901,0.0,1964.0,1997.0,2008.0,2018.0
type,1672,6,Unprovoked,1432,NaN,NaN,NaN,NaN,NaN,NaN,NaN
country,1662,95,USA,741,NaN,NaN,NaN,NaN,NaN,NaN,NaN
area,1626,236,Florida,346,NaN,NaN,NaN,NaN,NaN,NaN,NaN
location,1621,1310,"New Smyrna Beach, Volusia County",73,NaN,NaN,NaN,NaN,NaN,NaN,NaN
activity,1641,404,Surfing,426,NaN,NaN,NaN,NaN,NaN,NaN,NaN
name,1663,1536,male,97,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age,1518,94,19,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN
time,1512,248,11h00,74,NaN,NaN,NaN,NaN,NaN,NaN,NaN
species_,1546,856,White shark,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN
href,1672,1672,http://sharkattackfile.net/spreadsheets/pdf_di...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
siglo,1502,2,siglo-XXI,785,NaN,NaN,NaN,NaN,NaN,NaN,NaN
injury,1664,1173,FATAL,154,NaN,NaN,NaN,NaN,NaN,NaN,NaN
date,1672,1522,No date,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
month,1622,29,Aug,158,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gender,1657,2,M,1435,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dead,1573,2,N,1256,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2. Cread dos dataframes nuevos, uno que incluya solo las variables categ칩ricas y otro que incluya solo las variables num칠ricas.

In [ ]:
df_numericas=pd.DataFrame(df['year'])
df_numericas.head()

In [ ]:
df_numericas = df.select_dtypes(include = np.number)
df_numericas.head(3)

In [ ]:
df_categoricas = df.select_dtypes(include = "object")
df_categoricas
#son todas object menos year

    - 쮺u치les son los principales est치disticos de los dataframes?
    - Extraed los valores 칰nicos su frecuencia. BONUS presenta los resultados en un dataframe. (Ver en GitBook como nos deberia quedar)

    Donde variable es cada una de las variables categ칩ricas que tenemos en el dataset y n_unicos es una lista con los nombres de los valores 칰nicos de cada variable.

### Conclusiones
De qu칠 nos sirven estos n칰meros y dataframe? Extraed conclusiones de ellos.
Por ejemplo:
- 쮿ay alguna columna que no tenga sentido su tipo de datos?
- 쮿ay alguna columna que no tenga sentido su nombre?
- 쮿ay alguna columna que no tenga sentido su contenido?
- 쮿ay alguna columna que tenga demasiadas categor칤as o valores que nos pueda hacer dif칤cil trabajar con ella?

Happy coding 游붇