Happy coding ü¶à

# Pair Programming EDA II

En esta lecci√≥n hemos aprendido qu√© son los valores nulos y los outliers o valores faltantes. Adem√°s hemos aprendido una librer√≠a super molona que nos permite hacer una exploraci√≥n de nuestro dataset muy profunda.
### Hip√≥tesis
Antes de seguir, recordamos las preguntas que nos planteamos al principio del pair programming de EDA para dirigir nuestro an√°lisis.
-  ¬øEs Australia el sitio m√°s peligroso y letal para estar relajada en la playa?
-  ¬øHay diferencias entre los paises en los ataques a hombres y mujeres?
-  ¬øCu√°les son las edades que m√°s sufren ataques?
-  Independientemente de la edad, ¬øsufren los hombres m√°s ataques que las mujeres?
-  ¬øEn qu√© mes ocurren m√°s ataques?
-  ¬øCu√°l es la relaci√≥n entre la especie y el tipo de ataque (si es fatal o no)?
-  ¬øC√≥mo han evolucionado los ataques a lo largo del tiempo?

In [86]:
import pandas as pd
import numpy as np
import sidetable as stb
import re

In [87]:
df=pd.read_csv('files/attacks_lec7.csv', index_col=0)

In [98]:
df.head(3)

,case_number,year,type,country,area,location,activity,name,age,time,species_,href,siglo,injury,date,month,gender,dead
0,2018.06.25,2018,Boating,usa,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun,F,N
1,2018.06.03.a,2018,Unprovoked,brazil,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,FATAL,03-Jun-2018,Jun,M,Y
2,2018.05.26.b,2018,Unprovoked,usa,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Lower left leg bitten,26-May-2018,May,M,N

In [ ]:
df.drop(columns=['Unnamed: 0.1','unnamed:_0'],inplace=True)
df.head(3)

In [ ]:
df.info()

De todo esto, nos damos cuenta que solo tenemos que limpiar algunas de las columnas, en concreto age, species, country, fatal, year, sex.     
Reducimos esto a una tabla para saber qu√© tenemos ya limpito y qu√© no. Actualizamos esta tabla ya que en el ejercicio de pair de Limpieza       
Y ya dejamos algunas columnas limpitas:

age     
‚ùå esta en formato string cuando deber√≠a ser integer, y en algunos casos tenemos rangos de edad

In [56]:
df['age'].value_counts().sum()

1516

In [ ]:
df.info()

In [13]:
df['age'].isnull().sum()

138

In [71]:
def a√±os (col):
    try:
        int(col)
        return int(col)       
    except:
        try:
            list= re.findall('\d+',col)
            if len(list)>1:
                suma=0
                for i in list:
                    suma+=int(i)
                    longitud=len(list)
                    return suma/longitud
            elif len(list)==1:
                return (list[0])
            else:
                return np.nan
        except:
            return np.nan

In [84]:
df['edad']=df['age'].apply(a√±os)

In [73]:
df['edad'].value_counts().sum()

1512

In [83]:
df['edad'].isnull().sum()

142

In [ ]:
#Tenemos 4 valores nulos m√°s en al columna nueva unificada de edades

species     
‚ùå es un jaleo! Debemos unificar los nombres y reducir a las especies m√°s importantes

country     
‚ùå los paises est√°n en may√∫sculas, algunos se repiten con algunos cambios

In [95]:
def pais_minusculas(columna):
    return str(columna).lower()

In [ ]:
df['country']=(df['country'].apply(pais_minusculas))
df.head()

year        
‚ùå es una columna de tipo float, deber√≠amos convertirla a integer

In [92]:
df['year']=df['year'].astype('int64')

In [ ]:
df.info()

fatal,sex y fecha:      
‚úîÔ∏è la limpiamos en el pair de Pandas V

### Objetivos

-  Explorar los valores nulos.

In [ ]:
df.stb.missing()

-  Explorad la columna de country y reportad los resultados solo para aquellas categor√≠as que incluyan el 70% de los datos.

In [ ]:
df.stb.freq(['country'], thresh=70, other_label='other_countries')

-  Explorad la columna country en relaci√≥n al sexo, filtrando de nuevo por aquellas categor√≠as que incluyan el 70% de los datos.

In [ ]:
df.stb.freq(['country', 'gender'], thresh=70)

-  Haced los mismo para la columna activity en relaci√≥n a la columna fatal. En este caso filtrad y mostrad los datos que incluyan el 60% de los datos.

In [ ]:
df.stb.freq(['activity', 'dead'], thresh=60)

-  Por √∫ltimo, realizad este an√°lisis para la columna fecha (la que creamos en el √∫ltimo ejercicio de pair programming de Pandas) en relaci√≥n a la columna fatal. Mostrad solo los resultados para las categor√≠as que incluyan el 60% de los datos.

In [ ]:
df.stb.freq(['month', 'dead'], thresh=60)

### Conclusiones

En relaci√≥n a los valores nulos:        
-  Identificar las columnas que tienen nulos (lo hicimos en el ejercicio de pair programming EDA I y en el de hoy con el sidetable)     
-  Debatid entre vosotras qu√© har√≠ais con los valores nulos, ¬ølos quitar√≠ais o los reemplazar√≠ais con un valor que nosotras decidiremos     
-  Cread una celda de markdown en vuestro jupyter y escribid vuestras conclusiones.