# Ejercicios Pair Programming - Modulo 2 - Sprint 2 
## Lecci√≥n 1 - Limpieza I: Introduccion
### Ana Gonzalez y Sonia Ruiz

Es el momento de empezar a limpiar nuestro dataframe que hemos ido viendo que est√° bastante sucio!
En este ejercicio trabajaremos con el dataframe que nos guardamos en la sesi√≥n de pair de Pandas VII.

Antes de seguir, recordamos las preguntas que nos planteamos al principio del pair programming de EDA para dirigir nuestro an√°lisis.
- ¬øEs Australia es el sitio m√°s peligroso y letal para estar relajada en la playa?
- ¬øCu√°l es el rango de edad que sufre la mayor√≠a de los ataques?
- Independientemente de la edad, sufren los hombres m√°s ataques que las mujeres?
- ¬øEn qu√© mes ocurren m√°s ataques?
- ¬øCu√°l es la relaci√≥n entre la especie y el tipo de ataque (si es fatal o no)?
- ¬øC√≥mo han evolucionado los ataques a lo largo del tiempo?
De todo esto, nos damos cuenta que solo tenemos que limpiar algunas de las columnas, en concreto age, species, country, fatal, year, sex. Reducimos esto a una tabla para saber que tenemos ya limpito y que no (ver en GitBook).


Entre las tareas que tendr√©is que hacer hoy:
1. Al empezar a trabajar con este dataframe ya eliminamos algunas columnas que a priori no nos interesaban. Ahora llega el momento de eliminar alguna columna m√°s. En este caso tendr√©is que eliminar las columnas que no nos sean √∫tiles para contestar a nuestras preguntas. Pero ojo ‚ö†Ô∏è, haced una copia del dataframe para no "cargarnos" el dataframe original y perder la info.

In [1]:
import pandas as pd
import numpy as np

In [100]:
df=pd.read_csv('files/attacks_lec7.csv',index_col=0)
df.head()

,Unnamed: 0,case_number,unnamed:_0,year,type,country,area,location,activity,name,age,time,species_,href,siglo,injury,date,month,gender,dead
0,0,2018.06.25,0.0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun,F,N
1,1,2018.06.03.a,6.0,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,FATAL,03-Jun-2018,Jun,M,Y
2,2,2018.05.26.b,8.0,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Lower left leg bitten,26-May-2018,May,M,N
3,3,2018.05.24,10.0,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018,May,M,N
4,4,2018.05.13.a,13.0,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Injured by teeth of a dead porbeagle shark he ...,13-May-2018,May,M,N

In [101]:
#Quitamos las columnas 'Unnamed: 0'
df.drop(columns=['Unnamed: 0','unnamed:_0'],inplace=True)
df.head(3)

,case_number,year,type,country,area,location,activity,name,age,time,species_,href,siglo,injury,date,month,gender,dead
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun,F,N
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,FATAL,03-Jun-2018,Jun,M,Y
2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Lower left leg bitten,26-May-2018,May,M,N

In [102]:
df.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'age', 'time', 'species_', 'href', 'siglo',
       'injury', 'date', 'month', 'gender', 'dead'],
      dtype='object')

In [103]:
#Comprobamos el numero de valores nulos que tienen algunas columnas.
df['case_number'].isnull().sum()

0

In [104]:
df['year'].isnull().sum()

0

In [105]:
df['date'].isnull().sum()
#Como vemos que esta columna no tiene valores nulos la utilizaremos para tomar la fecha del ataque.

0

    - Columnas que necesitamos para responder nuestras preguntas: age, species, country, fatal, year, sex

    - Columnas que no necesitamos:
    - 'case_number', 'year', 'type', 'area', 'location','activity', 'name', 'time', 'href', 'siglo','injury', 'month'

In [106]:
df_preguntas=df.drop(columns=['case_number', 'type', 'area', 'location','activity', 'name', 'time', 'href', 'siglo','injury','date'])
df_preguntas.head()

     year    country age          species_ month gender dead
0  2018.0        USA  57       White shark   Jun      F    N
1  2018.0     BRAZIL  18       Tiger shark   Jun      M    Y
2  2018.0        USA  15    Bull shark, 6'   May      M    N
3  2018.0  AUSTRALIA  32   Grey reef shark   May      M    N
4  2018.0    ENGLAND  21  Invalid incident   May      M    N

In [107]:
#Observamos las columnas qeu teniamos inicialmente.
df.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'age', 'time', 'species_', 'href', 'siglo',
       'injury', 'date', 'month', 'gender', 'dead'],
      dtype='object')

In [108]:
#Comprobamos que nos hemos quedado con las columnas que nos interesan.
df_preguntas.columns

Index(['year', 'country', 'age', 'species_', 'month', 'gender', 'dead'], dtype='object')

2. ¬øHay valores duplicados en nuestro dataframe? En caso de que los haya, elimin√°ndlos.

In [109]:
#Obtenemos las filas que estan dupicadas en nuestro dataframe.
df_preguntas[df_preguntas.duplicated()==True]

,year,country,age,species_,month,gender,dead
119,2015.0,AUSTRALIA,52,White shark,Jul,M,N
745,2001.0,USA,12,Possibly a juvenile blacktip or spinner shark,Apr,M,N
1619,0.0,USA,NaN,NaN,Before,M,N
1631,0.0,AUSTRALIA,NaN,NaN,Before,M,N
1634,0.0,IRAN,NaN,NaN,NaN,M,Y
1642,0.0,PAPUA NEW GUINEA,NaN,NaN,World,M,N
1650,0.0,AUSTRALIA,NaN,NaN,No,M,N
1651,0.0,SOUTH AFRICA,NaN,NaN,No,M,Y
1653,0.0,USA,NaN,NaN,Before,M,N
1654,0.0,VIETNAM,NaN,NaN,Before,M,N
1655,0.0,SOUTH AFRICA,NaN,NaN,Before,M,Y
1656,0.0,SOUTH AFRICA,NaN,NaN,Before,M,Y
1658,0.0,USA,NaN,NaN,Before,M,N
1659,0.0,SOUTH AFRICA,NaN,NaN,No,M,Y
1660,0.0,SOUTH AFRICA,NaN,NaN,Before,M,Y
1664,0.0,AUSTRALIA,NaN,Blue pointer,Before,M,Y
1667,0.0,AUSTRALIA,NaN,NaN,Before,M,Y
1668,0.0,AUSTRALIA,NaN,NaN,Before,M,Y

In [110]:
#Observamos cuantas filas tenemos antes de eliminar los duplicados
print(f'Nuestro DataFrame antes de eliminar duplicados tiene {df_preguntas.shape[0]} filas y {df_preguntas.shape[1]} columnas')

Nuestro DataFrame antes de eliminar duplicados tiene 1672 filas y 7 columnas

In [111]:
df_preguntas.drop_duplicates(inplace=True)
df_preguntas.head()

     year    country age          species_ month gender dead
0  2018.0        USA  57       White shark   Jun      F    N
1  2018.0     BRAZIL  18       Tiger shark   Jun      M    Y
2  2018.0        USA  15    Bull shark, 6'   May      M    N
3  2018.0  AUSTRALIA  32   Grey reef shark   May      M    N
4  2018.0    ENGLAND  21  Invalid incident   May      M    N

In [112]:
#Observamos cuantas filas tenemos despues de eliminar los duplicados.
print(f'Nuestro DataFrame antes de eliminar duplicados tiene {df_preguntas.shape[0]} filas y {df_preguntas.shape[1]} columnas')

Nuestro DataFrame antes de eliminar duplicados tiene 1654 filas y 7 columnas

3. Como hemos visto, algunas columnas no tienen el tipo de datos que deber√≠an. Cambiad el tipo de dato para la columna de year.

In [113]:
df_preguntas['year'].dtypes

dtype('float64')

In [114]:
df_preguntas['year']=df_preguntas['year'].astype('int64', errors='ignore')
df_preguntas.head()

   year    country age          species_ month gender dead
0  2018        USA  57       White shark   Jun      F    N
1  2018     BRAZIL  18       Tiger shark   Jun      M    Y
2  2018        USA  15    Bull shark, 6'   May      M    N
3  2018  AUSTRALIA  32   Grey reef shark   May      M    N
4  2018    ENGLAND  21  Invalid incident   May      M    N

In [115]:
df_preguntas['year'].dtypes

dtype('int64')

4. En la columna de country poner todos los valores en min√∫sculas.
üí° Pista Tendr√©is que usar una funci√≥n o una lambda üí°

In [116]:
def pais_minusculas(columna):
    return str(columna).lower()

In [117]:
df_preguntas['country']=(df_preguntas['country'].apply(pais_minusculas))
df_preguntas.head()

   year    country age          species_ month gender dead
0  2018        usa  57       White shark   Jun      F    N
1  2018     brazil  18       Tiger shark   Jun      M    Y
2  2018        usa  15    Bull shark, 6'   May      M    N
3  2018  australia  32   Grey reef shark   May      M    N
4  2018    england  21  Invalid incident   May      M    N

5. Guardamos el csv para seguir trabajando en el siguiente ejercicio de pair de limpieza.

In [120]:
df_preguntas.to_csv('files/attacks_limp1.csv')

Happy coding ü¶à